@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*,
*::before,
*::after{ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
}
:root{
    --primary: #64665e43;
    --solid: #c8cc9f;
}
body {
    width: 100%;
    height: 100vh;
    background: url(./img/img1.jpg) no-repeat center center/cover;
}

#calc-container{
    width: min(100%, 28rem);
    height: 40rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: .4rem;
    background-color: var(--primary);
    backdrop-filter: blur(24px);
    box-shadow: 
        2px 2px 8px #0004,
        4px 4px 16px #0002;
}
.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 
        minmax(8rem, auto)
        4rem 
        repeat(1, 1fr)
        2rem;

}
.row{
    grid-column: 1 / -1;
    display: flex;
} 
.display-row{
    padding: 1rem; 
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
.display-row #previous-operand{
    font-size: 1.3rem;
    color: var(--solid);
    opacity: .5;
}
.display-row #current-operand{
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: var(--solid);
    text-shadow: 4px 4px 8px #0004;
}
.options-row{
    margin: 0 1em;
    border-top: 1px solid var(--primary);
    justify-content: space-between;
    align-items: center;
}
.option-button{
    color: var(--solid);
    background-color: var(--primary);
    font-size: 1em;
    padding: .6em 1em;
    opacity: .6;
}
#keyboard{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: min(10%, 1rem) 0;
    margin: 0 1rem;
    border-top: 1px solid var(--primary);
}
#keyboard button{
    position: relative;
    color: var(--solid);
    opacity: .6;
    text-shadow: 2px 2px 4px #0004;
}
button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: unset;
    outline: 0px solid var(--primary);
    background-color: unset;
    box-shadow: unset;
    transition: all .3s ease-in-out;
}
button:hover{
    opacity: 1;
    outline: 1px solid var(--primary);
    background-color: var(--primary);
    box-shadow: 2px 2px 4px #0004,
                4px 4px 12px #0002;
}
button:active{
    filter: brightness(2);
    transform: scale(.95);
}
.vertical-separator::before {
    content: '';
    display: block;
    width: 1px;
    height: 1.4rem;
    position: absolute;
    bottom: 2.2rem;
    left: 100%;
    background-color: var(--primary);
}
.horizontal-separator::after {
    content: '';
    display: block;
    height: 1px;
    width: 1.4rem;
    position: relative;
    top: 1.9rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--primary);
}
.footer-row{
    text-align: center;
    color: var(--solid);
    font-size: .8rem;
    margin: 0 1rem;
    padding: .6rem;
    cursor: default;
    border-top: 1px solid var(--solid);
    opacity: .2;
}
@media(max-width: 480px){
    #calc-container{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}